main h2 {
  padding-bottom: 0;
}

main ol {
  list-style-type: none;
  padding: 0;
}

main li {
  width: 100%;
  float: left;
  text-overflow: ellipsis;
  overflow: hidden;
}

main a {
  font-size: 14px;
  line-height: 28px;
  text-decoration: none;
  padding: 32px;
  display: block;
}

main a:hover {
  background: $action;
  color: $white;
}
