@media (min-height: 640px) {
  img {
    max-height: 440px
  }
}

@media (min-width: 640px) {
  main li {
    width: 50%;
  }

  main a {
    height: 0;
    padding-bottom: 50%;
  }
}

@media (max-width: 640px) {
  hr,
  article,
  aside {
    width: 80%;
  }

  html {
    font-size: 16px;
    line-height: 24px;
  }

  h1 {
    font-size: 32px;
    line-height: 48px;
  }

  h2,
  h3 {
    font-size: 22px;
    line-height: 24px;
  }

  h4 {
    font-size: 18px;
  }

  h5,
  h6 {
    font-size: 16px;
  }

  header {
    padding-left: 0;
    padding-right: 0;
  }
}

@media (min-height: 800px) {
  img {
    max-height: 550px
  }
}

@media (min-width: 800px) {
  main li {
    width: 50%;
  }

  main a {
    padding-bottom: 75%;
  }

  header h1 {
    display: table-cell;
    vertical-align: middle;
  }
}

@media (min-height: 960px) {
  img {
    max-height: 660px
  }
}

@media (min-width: 960px) {
  main li {
    width: 33.32%;
  }

  main a {
    padding-bottom: 100%;
  }
}

@media (min-width: 1120px) {
  main li {
    width: 25%;
  }
}
