<!DOCTYPE html>
<html itemscope itemtype="http://schema.org/WebPage" lang="en">
  <head>
    <meta charset="utf-8">
    {% include head.html %}
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0">
    <link rel="stylesheet" href="/assets/app/css/main.css">
    <script src="//use.typekit.net/vda1fuh.js"></script>
    <script>try{Typekit.load();}catch(e){}</script>
    <script src="/assets/vendor/KudosPlease/js/kudosplease-min.js"></script>
  </head>
  <body {% if page.body_class %}class="{{ page.body_class }}"{% endif %}>

    {{ content }}

    <nav>
      <a href="/">aeb.sr</a>
    </nav>
    
    <script>
      new KudosPlease({ 
          el : '.kudos',
          duration : 1500,
          persistent : false
      });
    </script>

    <script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-34982219-1']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'stats.g.doubleclick.net/dc.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

  </script>
    
  </body>
</html>
