<!DOCTYPE html>
<html itemscope itemtype="http://schema.org/WebPage">
  <head>
    {% include head.html %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0">
    <link rel="stylesheet" href="/assets/app/css/main.css">
    <script src="//use.typekit.net/vda1fuh.js"></script>
    <script>try{Typekit.load();}catch(e){}</script>
    <script src="/assets/vendor/KudosPlease/js/kudosplease-min.js"></script>
  </head>
  <body {% if page.body_class %}class="{{ page.body_class }}"{% endif %}>

    {{ content }}

    <nav>
      <a href="/">aeb.sr</a>
    </nav>
    
    <script>
      new KudosPlease({ 
          el : '.kudos',
          duration : 1500,
          persistent : false
      });
    </script>
    
  </body>
</html>
